@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    -webkit-app-region: no-drag;
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}